* {
    border:        none;
    border-radius: 0;
    font-family:   "Source Sans Pro";
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: #2aa198;
    background-color: #002b36;
    border-bottom: 2px solid #839496;
}

.modules-center {
    color: #268bd2;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 5px;
    color: #93a1a1;
    background-color: transparent;
}

#workspaces button:hover {
    background: transparent;
    box-shadow: inset 0 -3px #cb4b16;
}

#workspaces button.focused {
    color: #2aa198;
    
}

#workspaces button.visible {
    color: #268bd2;
}

#workspaces button.urgent {
    color: #d33682;
}

#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#backlight {
    margin: 0px 6px 0px 10px;
/*    min-width: 30px;*/
}

#clock {
    margin: 0px 6px 0px 10px;
}

#battery.warning {
   color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

